{% extends "main.twig" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
  <h1>Basket</h1>
    {% if basket != 0 %}
    <div class="basket__item basket__caption mb-20">
      <p class="basket__item-name item__caption">Item</p>
      <p class="basket__item-count item__caption">Count</p>
      <p class="basket__item-add item__caption">Add</i></p>
      <p class="basket__item-dec item__caption">Remove</i></p>
      <p class="basket__item-del item__caption">Delete</i></p>
    </div>
    {% endif %}
      {% for item in basket %}
        <div class="basket__item">
          <p class="basket__item-name">{{item.good}}</p>
          <p class="basket__item-count">{{item.count}}</p>
          <a class="basket__item-add" href="/basket/add?id={{item.id}}"><i class="fas fa-plus-circle"></i></a>
          <a class="basket__item-dec" href="/basket/remove?id={{item.id}}"><i class="fas fa-minus-circle"></i></a>
          <a class="basket__item-del" href="/basket/delete?id={{item.id}}"><i class="fas fa-times-circle"></i></a>
        </div>
          {% else %} <p>Your basket is empty</p>
          {% endfor %}


  {% if basket != null %}
  <div class="order">
      <a href="/order/add">Place the order</a>
    </div>
  {% endif %}

{% endblock %}
